.card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .card-body {
    text-align: center;
  }
  
  .card-title {
    font-size: 1.25rem;
  }
  
  .card-text {
    font-size: 0.875rem;
  }
  .accordion-body ul {
    padding-left: 20px;
  }
  
  .list-group-item {
    padding: 10px;
    font-size: 14px;
  }
  
  .bi-check-circle {
    color: green;
    margin-right: 10px;
  }
  